.header__logo {
    max-width: 142px;
    max-height: 33px;
    padding-top: 45px;
    padding-bottom: 34px;
}

@media screen and (max-width: 770px) {
    .header__logo {
        margin-left: auto;
        margin-right: auto;
        padding-top: 28px;
        padding-bottom: 31.6px;
        max-width: 103px;
        max-height: 24px;
    }
}